<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{=URL('static','css/2d.css')}}">
  <title>2D Board</title>
</head>
<body>
  <div id="control">
    <label for="project">Project Name</label>
    <input type="text" id="project">
    <label for="color">Color</label>
    <input type="color" value="#4422ee" id="color">
    <label for="width">Width</label>
    <input type="range" value="1" id="width">
    <label for="width">Undo Size</label>
    <input type="range" value="5" min="1" max="50" id="undoSize">
    <label>Erase All</label>
    <div>
      <button onclick="erase()">Erase</button>
    </div>
    <label for="lock">Mouse Lock</label>
    <label class="switch">
      <input id="lock" type="checkbox">
      <span class="slider"></span>
    </label>
    <label>Export .png</label>
    <div>
      <button onclick="downloadImage()">Export</button>
    </div>
    <label>Save .json</label>
    <div>
      <button onclick="downloadJSON()">Save</button>
    </div>
    <label for="reduceFactor">Reduction</label>
    <input type="number" id="reduceFactor" value="0" min="0" max="1000">
  </div>
  <canvas id="board"></canvas>
  <script src="{{=URL('static','js/2d/index.js')}}"></script>
</body>
</html>