<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{=URL('static','css/2d.css')}}">
  <script>
    const URL = {
      SAVE: "{{=URL('api','edit_board_instruction')}}",
      USER: "{{=URL('api','user')}}",
      BOARD: "{{=URL('api','board')}}"
    };
    const BOARD_ID = "{{=id}}";
  </script>
  <title>2D Board</title>
</head>
<body>
  <div id="control">
    <label for="project">Project Name</label>
    <div id="project">Project</div>
    <label for="color">Color</label>
    <input type="color" value="#4422ee" id="color">
    <label for="width">Width</label>
    <input type="range" value="1" id="width">
    <label for="width">Undo Size</label>
    <input type="range" value="5" min="1" max="50" id="undoSize">
    <label>Erase All</label>
    <div>
      <button onclick="erase()">Erase</button>
    </div>
    <label for="lock">Mouse Lock</label>
    <label class="switch">
      <input id="lock" type="checkbox">
      <span class="slider"></span>
    </label>
    <label>Export .png</label>
    <div>
      <button onclick="downloadImage()">.png</button>
    </div>
    <label>Export .json</label>
    <div>
      <button onclick="downloadJSON()">.json</button>
    </div>
    <label for="reduceFactor">Reduction</label>
    <input type="number" id="reduceFactor" value="0" min="0" max="1000">
  </div>
  <canvas id="board"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="{{=URL('static','js/2d/index.js')}}"></script>
</body>
</html>