<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Richard Franklin | Prog4</title>
    <link rel="stylesheet" href="{{=URL('static', 'css/3d.css')}}">
</head>
<body>

    <canvas id="canvas" width = "800" height="800">
        WebGL Not supported in this environment
    </canvas>

    <div id="top-right-pane">
        <ul id="object-options">
            <h4>Object Options</h4>
            <div id="obj-name">
                (Select an object first)                    
            </div>
            <div id="obj-color">
            </div>
            <div id="obj-texture">
            </div>
            <div id="obj-file">
            </div>
        </ul>
        <ul id="control-panel">
            <h4>Control Panel</h4>
            <li>
                <label for="projection">Projection Type</label>
                <div id="projection">
                    <input name="CPprojection" type="radio" value="ORTHO" checked>Orthographic<br>
                    <input name="CPprojection" type="radio" value="PERSP">Perspective<br>
                </div>
            </li>
            <li>
                <label for="method">Drawing Method</label>
                <div id="method">
                    <input name="CPmethod" type="radio" value="MANUAL" checked>Manual<br>
                    <input name="CPmethod" type="radio" value="AUTOMATIC">Automatic<br>
                </div>
            </li>
            <li>
                <input type="file" id="file-input"/>
                <div>
                    <button id="file-load" type="button">Load</button>
                </div>
            </li>
            <li>
                <button id="erase">
                    ERASE ALL
                </button>
            </li>
            <li>
                <button id="resetView">
                    RESET VIEW
                </button>
            </li>
        </ul>        
    </div>

    <!-- <script src="../lib/ioSOR.js"></script> -->
    <script src="{{=URL('static','js/3d/math.js')}}"></script>    
    <script src="{{=URL('static','js/3d/draw.js')}}"></script>
    <script src="{{=URL('static','js/3d/objtransform.js')}}"></script>    
    <script src="{{=URL('static','js/3d/setup.js')}}"></script>
    <script src="{{=URL('static','js/3d/interface.js')}}"></script>
    <script src="{{=URL('static','js/3d/loop.js')}}"></script>
    <script src="{{=URL('static','js/3d/index.js')}}"></script>
</body>
</html>