#board {
  border: 0px solid black;
}
#control {
  position: fixed;
  right: 0;
  top : 0;
  border: 1px solid white;
  height: 100vh;
  width: 80px;
  background: black;
}
#control>input {
  width: 100%;
}
#control>label {
  color: white;
}
body {
  margin: 0;
  height: 100vh;
}