#top-right-pane {
    position : absolute;
    right : 10px;
    top : 5px;
    padding : 0 20px 20px 20px;    
}
#top-right-pane h4 {
    margin: 5px 0 5px 0;
    padding: 0 0 0 0;
    text-decoration: underline;
}

#object-options {
    background-color: #f8f8f8;
    margin: 0 0 0 0;
}

/* Control Panel */
#control-panel {
    background-color: #f8f8f8;
    margin: 0 0 0 0;
}
#control-panel > li.sub-panel {
    background-color: #fefefe;    
}
#control-panel > li.sub-panel > h4 {
    margin: 0 0 0 0;   
}

/* Info Panel */
#info-panel {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color : black;
    color : #53C953;
    list-style-type: none;
}
#info-panel > li {
    list-style-type: none;
}


/* Canvas */
#canvas {
    border : 1px solid black;
}